body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: firebrick;
    color: whitesmoke;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

nav a:hover {
    color: aquamarine;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: firebrick;
    color: whitesmoke;
}

.banner div {
    padding: 40px;
}

.info-section {
    text-align: center;
    padding: 40px 20px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info-container div {
    border: 1px solid red;
    width: 250px;
    border-radius: 25px;
}

.quote-section {
    padding: 30px 0;
    background-color: bisque;
}

.quote-section div {
    max-width: 800px;
    margin: auto;
}

.quote-section blockquote {
    font-size: 30px;
}

.quote-sauce {
    text-align: right;
}
