@font-face {
    font-family: Wotfard;
    src: url(../font/Wotfard-Regular.otf);
}

body {
    margin: 0;
    font-family: Wotfard;
    font-size: 17px;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: midnightblue;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: midnightblue;
    color: whitesmoke;
}

.logo, .logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.logo img{
    display: inline-block;
    width: 70px;
}

.logo a:hover {
    color: red;
}


nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

nav a:hover {
    color: aquamarine;
}

.banner {
    background-color: midnightblue;
    color: whitesmoke;
    padding: 40px 0;
}

.banner-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-wrapper h1 {
    margin: 0;
    padding: 0;
}

.banner-wrapper img {
    width: 600px;
    border-radius: 25px;
}

.banner-wrapper button {
    border-collapse: collapse;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #3882f6;
    color: white;
}

.banner-wrapper button:hover {
    color: aquamarine;
}

.banner div {
    padding: 10px;
}

.info-section {
    text-align: center;
    padding: 60px 20px 100px 20px;
}

.info-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-container div {
    /* border: 1px solid red; */
    max-width: 300px;
    border-radius: 25px;
}

.info-container img {
    width: 100%;
    border-radius: 10px;
    border: 6px solid aquamarine;
}

.quote-section {
    padding: 80px 0 40px 0;
    background-color: bisque;
}

.quote-section div {
    max-width: 800px;
    margin: auto;
}

.quote-section .quote-wrapper {
    font-size: 30px;
}

.quote-wrapper div {
    padding: 0 10px;
}

.quote-sauce {
    text-align: right;
}

.action-section {
    padding: 80px;
}

.action-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    color: white;
    padding: 70px 0;
    border-radius: 15px;
}

.action-wrapper h2 {
    margin: 0;
}

.action-wrapper button {
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid white;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.action-wrapper button:hover {
    border: 3px solid aquamarine;
    color: aquamarine;
}
