@font-face {
    font-family: Wotfard;
    src: url(../font/Wotfard-Regular.otf);
}

body {
    margin: 0;
    font-family: Wotfard;
    font-size: 17px;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: midnightblue;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: midnightblue;
    color: whitesmoke;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

nav a:hover {
    color: aquamarine;
}

.banner {
    background-color: midnightblue;
    color: whitesmoke;
    padding: 40px 0;
}

.banner-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner div {
    padding: 10px;
}

.info-section {
    text-align: center;
    padding: 40px 20px;
}

.info-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-container div {
    border: 1px solid red;
    max-width: 200px;
    border-radius: 25px;
}

.quote-section {
    padding: 40px 0;
    background-color: bisque;
}

.quote-section div {
    max-width: 800px;
    margin: auto;
}

.quote-section .quote-wrapper {
    font-size: 30px;
}

.quote-wrapper div {
    padding: 0 10px;
}

.quote-sauce {
    text-align: right;
}
